* {
  margin: 0;
  padding: 0;
}
body{
  background-color: black;
  display: flex;
  justify-content: center;
  width: 640px;
  height: 100vh;
  margin: 0; 
  font-family: 'Titillium Web', sans-serif;
}
#root{
  background: #ffffff;
  width: 640px;
  height: 100vh;
  margin: 0;
}
.mainImage{
  width: 640px;
  height: 100vh;
  margin: 0;
}
.signInBtn{
  position: fixed;
  width: 300px;
  height: 70px;
  font-size: 20px;
  background: #4e6da4;
  color: #ffffff;
  z-index: 100;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}
.signIn_wrapper{
  position: relative;
  height: 100vh;
}
.oppMarker{
  transform: perspective(0) rotateX(20deg) rotateZ(-45deg);
  transform-origin: 50% 50%;
  border-radius: 50% 50% 50% 0;
  padding: 0 3px 3px 0;
  width: 40px;
  height: 40px;
  background: rgb(149, 246, 100);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2.2em 0 0 -1.3em;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
}

.currUserWrapper{
  top: 25px;
  width: 40%;
  height: 50px;
  color: #ffffff;
  font-weight: bold;
  position: fixed;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  text-align: center;
  font-size: 40px;
}
.given_longitude{
  font-weight: 700;
  letter-spacing: 4px;
  width: 100%;
  font-size: 40px;
}
.given_latitude{
  font-size: 50px;
  display: inline-block;
}
.inputWrapper {
  display: inline-block;
}
.quizWrapper{
  position: fixed;
  border-radius: 25px;
  width: 70%;
  height: 200px;
  padding: 30px;
  color: #ffffff;
  bottom: 40px;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(1, 1, 1, 0.5);
}
.firstAnswer{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  margin: 0 0 0 10px;
  font-size: 50px;
  align-items: center;
  width: 60px;
  height: 60px;
  /* border: solid 1px #181818; */
  background: black;
  border-radius: 6px;
  border: none;
  text-align: center;
  color: rgb(149, 246, 100);
}
.quiz{
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.quiz-latitude{
  display: flex;
  align-items: center;
  letter-spacing: 7px;
  justify-content: space-around;
}
.submitBtn{
  font-family: 'Titillium Web', sans-serif;
  color: #ff0081;
  border: 2px solid;
  margin: 15px;
  width: 48%;
  height: 56px;
  font-size: 25px;
  border-radius: 25px;
  background-color: transparent;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 101;
}

.modal-main {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  border-radius: 30px;
  position:fixed;
  padding: 30px;
  background: black;
  color: #ffffff;
  width: 500px;
  height: 520px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.closeBtn{
  position: fixed;
  right: 0;
  /* text-align: center; */
  width: fit-content;
  height: fit-content;
  font-size: 40px;
  padding: 10px;
  border: solid 1px #ffffff;
  background: transparent;
  border-radius: 50%;
  padding: 10px;
  color: #ffffff;
  
}
.matchingPage_background{
  background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(-45deg, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(-45deg, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */





  /* background: #181818; */
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.matchingTitle{
  padding: 180px 0;
  text-align: center;
  font-size: 70px;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.matchedUser_wrapper{
  padding: 40px;
  display: flex;
  justify-content: center;
}
.matchedUsers{
  position: relative;
  text-align: center;
}
.matchedUsrName{
  font-size: 40px;
  padding: 20px;
}
.matchedUserPhoto{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 200px;
  height: 200px;
}

.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: -26px;
  left: 0px;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}

@keyframes color {
  0% {
    stroke: yellow;
  }
  40% {
    stroke: #ff0099;
  }
  66% {
    stroke: #ff0000;
  }
  80%, 90% {
    stroke: #ff0000;
  }
}
.startBtn{
  border:solid 1px #ff0099;
}
.timeout-modal{
  border-radius: 30px;
  position:fixed;
  padding: 30px;
  background: #181818;
  color: #ffffff;
  width: 500px;
  height: 600px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 200;
}
.timeout-modal > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.timer_wrapper{
  /* font-family: 'Titillium Web', sans-serif; */
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  padding: 20px;
  position: fixed;
  width: 100px;
  height: 30px;
  font-size: 30px;
  z-index: 100;
  text-shadow:
    -2px 4px 4px #091243,
    0 0 10px rgb(149, 246, 100),
    inset 1px 1px 1px white;
  color: rgb(149, 246, 100);
  border: 2px solid;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 
    0 1px 2px rgba(0,0,0, 0.6), 
    2px 1px 4px rgba(0,0,0, 0.3), 
    2px 4px 3px rgba(3,0,128, 0.3), 
    0 0 7px 2px rgb(149, 246, 100), 
    inset 0 1px 2px rgba(0,0,0, 0.6), 
    inset 2px 1px 4px rgba(0,0,0, 0.3), 
    inset 2px 4px 3px rgba(3,0,128, 0.3), 
    inset 0 0 7px 2px rgb(149, 246, 100)
}
.timer{
  position: absolute;
  top: 10px;
  left: 30%;
}
.timeout-notice{
  padding: 100px 0;
  text-align: center;
  font-size: 70px;
  color: rgb(149, 246, 100);

}
.modalForWinner{
  margin-top: 80px;
  font-size: 60px;
}
.modalForLoser{
  font-size: 60px;
}
.foundWinner{
  color: #ff0099;
  font-size: 60px;
}
.backToSignInBtn{
  width: 300px;
  height: 130px;
  text-align: center;
  font-size: 30px;
  background: transparent;
  padding: 20px;
  text-shadow:
    -2px 4px 4px #091243,
    0 0 10px #00D0FF,
    inset 1px 1px 1px white;
  color: #1FFFFF;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 
    0 1px 2px rgba(0,0,0, 0.6), 
    2px 1px 4px rgba(0,0,0, 0.3), 
    2px 4px 3px rgba(3,0,128, 0.3), 
    0 0 7px 2px rgba(0,208,255, 0.6), 
    inset 0 1px 2px rgba(0,0,0, 0.6), 
    inset 2px 1px 4px rgba(0,0,0, 0.3), 
    inset 2px 4px 3px rgba(3,0,128, 0.3), 
    inset 0 0 7px 2px rgba(0,208,255, 0.6);
    animation: flickering 5s infinite;
}
.tryAgainBtn{
  width: 400px;
  font-family: 'Porter';
  margin-top: 150px;
  text-align: center;
  font-size: 50px;
  background: transparent;
  padding: 20px;
  text-shadow:
    -2px 4px 4px #091243,
    0 0 10px #00D0FF,
    inset 1px 1px 1px white;
  color: #1FFFFF;
  border: 2px solid;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 
    0 1px 2px rgba(0,0,0, 0.6), 
    2px 1px 4px rgba(0,0,0, 0.3), 
    2px 4px 3px rgba(3,0,128, 0.3), 
    0 0 7px 2px rgba(0,208,255, 0.6), 
    inset 0 1px 2px rgba(0,0,0, 0.6), 
    inset 2px 1px 4px rgba(0,0,0, 0.3), 
    inset 2px 4px 3px rgba(3,0,128, 0.3), 
    inset 0 0 7px 2px rgba(0,208,255, 0.6);
    animation: flickering 5s infinite;
}
@keyframes flickering {
  0% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  2% {
    border-color: #1FFFFF;
    opacity: 1;
  }
  
  4% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  8% {
    border-color: #1FFFFF;
    opacity: 1;
  }
  
  28% {
    border-color: #1FFFFF;
    opacity: 1;
  }
  
  30% {
    border-color: transparent;
    opacity: 0.2;
  }
  
  36% {
    border-color: #1FFFFF;
    opacity: 1;
  }
  
  100% {
    border-color: #1FFFFF;
    opacity: 1;
  }
}
/* .text{
  
  padding: 100px 0;
  text-align: center;
  font-size: 70px;
  color: rgb(149, 246, 100);
} */
.text {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 8rem;
  z-index: 10;
}

.rainbow {
  padding: 3.125rem;
}
.rainbow .text {
  color: #ff0081;
  font-family: 'Porter';
  line-height: 6rem;
  -webkit-transform: skew(-5.5deg);
          transform: skew(-5.5deg);
  text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white, -5px -5px #dc5277, -6px -6px white, -4px -4px white, -6px -4px white, -4px -6px white, -10px -10px #ca7b72, -11px -11px white, -9px -9px white, -11px -9px white, -9px -11px white, -15px -15px #a7cd69, -16px -16px white, -14px -14px white, -16px -14px white, -14px -16px white, -20px -20px #95f664, -21px -21px white, -19px -19px white, -21px -19px white, -19px -21px white, 9px 0px white, 8px 1px white, 7px 2px white, 7px 3px white, 6px 4px white, -6px 2px white, 6px 6px white, 0px 6px white, -6px 6px white, -6px 0px white, -10px -10px white, -12px -23px white, -9px -20px white, -6px -18px white, -2px -14px white, 2px -10px white, 5px -7px white, 7px -3px white, -20px -14px white, -2px -14px white, -17px -26px white, -20px -26px white, -12px -20px white, -27px -23px white, -26px -20px white, -25px -18px white, -24px -17px white, -24px -15px white, -22px -13px white, -20px -10px white, -18px -8px white, -16px -7px white, -15px -3px white, 2px 2px 22px black, -22px -22px 22px black, -18px -12px 22px black, -5px -15px 22px black;
  -webkit-animation: scrunch 0.3s ease 0.1s both;
          animation: scrunch 0.3s ease 0.1s both;
}

@-webkit-keyframes scrunch {
  0% {
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black, -2px -2px #dc5277, -4px -4px #ca7b72, -15px -15px #a7cd69, -20px -20px #95f664;
  }
}

@keyframes scrunch {
  0% {
    text-shadow: -1px -1px black, 1px -1px black, -1px 1px black, 1px 1px black, -2px -2px #dc5277, -4px -4px #ca7b72, -15px -15px #a7cd69, -20px -20px #95f664;
  }
}


.answer-box {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.answer-box .answer {
  display: block;
  width: 100%;
  height: 100%;
  background: #333333;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 10;
  outline: none;
  text-align: center;
  font-size: 42px;
  color: #ff0081;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

.answer-box .answer:focus {
  background: transparent;
}
.answer-box .answer:focus ~ .bubbly {
  border: solid 2px #ff0081;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.answer-box .answer:focus ~ .bubbly:before,
.answer-box .answer:focus ~ .bubbly:after {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly {
  color: #ff0081;
  font-family: 'Titillium Web', sans-serif;
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 4px;
  border: solid 2px transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, border-color ease-in .2s;
}
.bubbly:before, .bubbly:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 20% 20%, 20% 20%, 35% 35%, 20% 20%, 55% 55%, 20% 20%, 35% 35%, 10% 10%, 48% 48%;
}
.bubbly:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

::selection {
  background: #181818;
  color: #ffffff;
}
/* .bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
} */

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@import url(https://fonts.googleapis.com/css?family=League+Script);
body {
  background: #333;
}

.neon {
  /* font-family: "League Script", cursive; */
  /* font-family: 'Titillium Web', sans-serif;
  font-size: 6em;
  line-height: 1.5em;
  text-align: center;
  text-shadow: 12px 2px 1px rgba(0, 0, 0, 0.5), 0 0 20px #fff, 0 0 10px #ff0099, 0 0 50px #ff0099;
  color: #ffffff; */
}
.star:nth-child(1) { left: 50%; }
.star:nth-child(2) { left: 30%; }
.star:nth-child(3) { left: 60%; }
.star:nth-child(4) { left: 90%; }
.star:nth-child(5) { left: 10%; }
.star:nth-child(6) { left: 40%; }
.star:nth-child(7) { left: 10%; }
.star:nth-child(8) { left: 20%; }
.star:nth-child(9) { left: 80%; }
.star:nth-child(10) { left: 15%; }

.star:nth-child(2n) {
   animation-delay: .6s;
}

.star {
  display:block;
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:0px;
  left:400px;
  position: relative;
  transform-origin:100% 0;
  animation:star-ani;
  animation-duration: 2s;
  transition-timing-function: ease-out;
  animation-direction: normal;
  animation-iteration-count: infinite;
  opacity:0;
}

.star:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #ffffff;
  border-width:2px 100px 2px 100px; 
  transform:rotate(-45deg) translate3d(1px, -1px, 0);
  box-shadow: 0 0 10px #ff0081;
  transform-origin:0% 100%;
}

.white2 {
  top:2%;
  left:60%;
  background:#ffffff;
}
.white2:after {
  border-color: #ffffff;
}

@-webkit-keyframes star-ani {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate3d(-200, -200, 0);
  }
  50% {
    opacity:1;
    transform:scale(0.5) rotate(0) translate3d(-250px, 250px, 0);
  }
  100% {
    opacity:0;
    transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}

@-webkit-keyframes star-ani2 {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity:1;
    transform:scale(0.5) rotate(0) translate3d(-200px, 200px, 0);
  }
  100% {
    opacity:0;
    transform:scale(0.5) rotate(0) translate3d(-200px, 300px, 0);
  }
}